@use './variables.scss' as *;
@use './mixins.scss' as m;
@use './animations.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: $main-text-color;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family:
		Segoe UI,
		sans-serif;
	font-size: 16px;
	line-height: 1.6;
	background: $main-bg-color;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

button {
	font-family: inherit;
}

.ui-panel {
	@include m.ui-panel;
}

.ui-card {
	@include m.ui-card;
}

.ui-cta {
	@include m.ui-cta;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}
