@use './variables.scss' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: $main-text-color;
}

body {
	font-family: 'Segoe UI', sans-serif;
	font-size: 16px;
	background: $main-bg-color;
	line-height: 1.6;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

button {
	font-family: inherit;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}
